<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272768264556-usccur0895r15kpte0ehvig7bt8l2avg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272768264556-usccur0895r15kpte0ehvig7bt8l2avg</string>
	<key>API_KEY</key>
	<string>AIzaSyCxw9VAMaBaZO9pAULZTnm84F_wnYKKCkI</string>
	<key>GCM_SENDER_ID</key>
	<string>272768264556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dnd.milestone</string>
	<key>PROJECT_ID</key>
	<string>milestone-b4571</string>
	<key>STORAGE_BUCKET</key>
	<string>milestone-b4571.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272768264556:ios:6280f4d2a01dc7231eeb49</string>
</dict>
</plist>